<header>
  <nav class="green darken-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">DM Terrassement</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="['/']"><i class="fa fa-home"></i></a></li>
        <li><a [routerLink]="['/services']">Services</a></li>
        <li><a [routerLink]="['/qui-sommes-nous']"href="collapsible.html">Qui sommes nous ?</a></li>
        <li><a [routerLink]="['/contact']">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>