<footer class="page-footer green darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Réseaux sociaux</h5>
        <p class="grey-text text-lighten-4"><app-social-network></app-social-network></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Me contacter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Plan du site</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Qui sommes nous ?</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017, David Muller, Toute reproduction interdite sans l'autorisation de l'auteur.
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>