<button class="socialNetworkButton" ceiboShare  [facebook]="{u: repoUrl}"><i class="fa fa-facebook"></i></button>
<button class="socialNetworkButton" ceiboShare  [linkedIn]="{url:repoUrl}"><i class="fa fa-linkedin"></i></button>
<button class="socialNetworkButton" ceiboShare  [googlePlus]="{url:repoUrl}"><i class="fa fa-google-plus"></i></button>
<button class="socialNetworkButton" ceiboShare  [twitter]="{url:repoUrl, text:'dm-terrassement.fr', hashtags:'terrassement, jardins, piscine'}"><i class="fa fa-twitter"></i></button>