<h2 class="center title">Formulaire de contact</h2>
<div class="row">

  
  <div class="parallax-container">
    <div class="parallax" materialize="parallax"><img src="/assets/images/secretaire.jpg"></div>
    
    <div class="col offset-l1 l4 m6 s12 contact" >
      <h5 class="center">Adresse</h5>
      <p>DM Terrassement</p>
      <p>10 route de Sélestat</p>
      <p>67390 - HESSENHEIM</p>

    </div>


    <app-onglets class="col offset-l1 l4 m6 s12 contact"></app-onglets>

  </div>
</div>

  
        
